<ion-view view-title="Saylani Qurbani Service">
    <ion-content>
        <br/><br/>
        <h4 class="heading">please Choose one Package</h4>
        <div class="row mylist">
            <div class="col">
                <div class="item alignContent" ng-click="go('cow')">
                    <img src="img/Untitled8.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Cow</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('goat')">
                    <img src="img/Untitled8.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Goat</h6>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>