<ion-view view-title="Saylani Welfare Trust">
    <ion-content>

        <br/><br/>
        <h3 class="heading">Available Service</h3>
        <div class="row mylist">
            <div class="col">
                <div class="item alignContent" ng-click="go('istakharah')">
                    <img src="img/Untitled1.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Istakharah</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('duaRequest')">
                    <img src="img/Untitled2.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Dua Request</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('massTraining')">
                    <img src="img/Untitled3.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Mass Training</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('office')">
                    <img src="img/Untitled4.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Nearest Saylani Office</h6>
                </div>
            </div>
        </div>
        <div class="row mylist">
            <div class="col col-30">
                <div class="item alignContent" ng-click="go('medical')">
                    <img src="img/Untitled5.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Medical Services</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('dars')">
                    <img src="img/Untitled6..jpg"  alt=""/><br/>
                    <h6 class="listSpan">Live Dars</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent"  ng-click="go('donate')">
                    <img src="img/Untitled7.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Donate</h6>
                </div>
            </div>
            <div class="col">
                <div class="item alignContent" ng-click="go('qurbani')">
                    <img src="img/Untitled8.jpg"  alt=""/><br/>
                    <h6 class="listSpan">Qurbani</h6>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>